body {
font-family: 'Roboto', sans-serif;	
  background-color: black;
	font-style: normal;
	font-weight: 400;
  height: 100%;
  margin: 0px;
  min-width: 90em;
}
/* Navigation */
.header {
	width: 100%;
	height: 4em;
	background-color: black;
  margin-top:-1.5em;
  margin-bottom:-2em;
  font-family: 'Raleway', sans-serif;
}
.logo {
	float: left;
	margin-top: 1.2em;
	margin-left: 15px;
  width: 10em;
}
nav {
	float: left;
	width: 50%;
	text-align: right;
	margin-left: 25px;
  margin-top:0px;
}
.header nav ul {
	list-style: none;
	float: left;
  display: flex;
  justify-content: space-evenly; 
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 18px;
  font-weight:bold;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	transition: all 0.3s linear;
  margin-top:0px;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #00ccff;
}
/* Special Nav Styles */
h4{
  color: goldenrod;
  padding-top:10px;
  margin-bottom: -10px;
  margin-left: 16em;
  font-size: 15px;
}
#special{
  color:grey;
  padding: 12px;
  font-size: 15px;
}
i{
  margin-left:10px;
}
/* Main container*/
.main{
  margin-top: -5em;
  background-color:#1f1f1f;
  color:#b0b0b0;
  width:100%;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 10em;
  
}

/* Font Stuff */
.main h1, h2{
  font-family: 'Roboto', sans-serif;
  font-style:normal;
  font-weight:100px;
}
h1{
  font-size: 40px;
}
h2{
  color:grey;
  font-size: 25px;
  line-height: 45px;
}
.bold{
  font-weight: bold;
  color:white;
}

/* Different Columns */
.content{
  padding-left: 7em;
  padding-top: 2em;
}
.screen{
  padding-left: 8em;
  padding-top: 2em;
}

/* Link On Top Of Image */
p{
  color:white;
}
.specialLink{
  color: #00ccff;
  font-weight:800;
  text-decoration: none;
}

/* Image */
#weird{
  height: 30em;
  margin-right:0em;
  position: static;
  
}

/* Buttons */
button{
  font-family: Raleway;
  font-weight: bold;
  font-size: 25px;
  padding: 15px;
  margin-bottom: 1em;
}
.signUp{
  margin-right: 10px;
  background-color: #23d771;
  border: 1px solid #23d771;
  border-radius: 5px;
  color:black;
}
.learnMore{
  color:white;
  background-color:black;
  border: 1px solid black;
  border-radius: 5px;
}

/* All the Kinds of CodePen */
/* Ok actually the rectangles at the bottom */
.rectSection{
  color:white;
  background-color: #403f3f;
  width:100%;
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  text-align:center;
}
.rectSection div{
  border: 1px solid grey;
  padding: 10px;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
}
.specific{
  font-weight:800;
  text-transform:uppercase;
}
/* Footer/Space At the End */
.footer{
  padding:50px;
  background-color: #0a0a0a;
  color:#efe6e6;
  text-align: center;
}